/*
'Bloody Seabird'
A Reddit theme
by Anon Adderlan
version 0.2
*/



/* ...FONTS... */

@import url(https://fonts.googleapis.com/css?family=Jim+Nightshade);

.title, .rank, .pagename a, .deepthread a, .nextprev a, .next-suggestions a {
	font-family: 'Jim Nightshade', cursive;
}



/* ...BROWSER... */

::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border: 1px solid #000000;
	border-radius: 10px;
	background: rgba(242,216,153,0.8);
	box-shadow: inset 0 0 12px rgba(0,0,0,0.3);
}



/* ...BODY... */

body {
	color: #000000;
	background-color: #F9EDCC;
}

.content {
	margin-right: 310px;
}

.clearleft {
	height: 4px;
}

.title {
	font-size: 1.7em;
}



/* ...HEADER... */

#header {
	height: 200px;
	background: url(%%banner%%) right -355px repeat black;
}

#header-img {
	position: absolute;
	left: 1em;
	bottom: 5em;
	content: url(%%snooskull%%); /* For testing only. The Reddit logo must be changed at 'http://reddit.com/r/example/about/edit' */
	width: 100px;
	height: 100px;
	/* destyle */
		background-image: none;
}

#header-bottom-left {
	position: relative;
	top: 126px;
	background: url(%%pagends%%);
}



/* ...TABS... */

.pagename, .tabmenu li a {
	background: #FF0000;
	text-shadow: 1px 1px #000, 1px 1px 0.1px #000;
	color: #FFFFFF;
	border: ridge #BB0000;
	border-width: 0px 4px;
}

.pagename {
	top: -1.2em;
	height: 1.6em;
	font-size: 3.2em;
	padding: 135px 0.2em 0em 0em;
}

	.pagename a {
		text-decoration: none;
		color: #FFFFFF;
		margin: 0.4em 0.2em 0.4em 0.4em;
	}

.tabmenu {
	position: relative;
    bottom: 45px;
}

	.tabmenu li.selected {
		position: relative;
		left: 0px;
		bottom: 26px;
		font-size: 2em;
	}
	
	.tabmenu li a {
		padding: 3px;
	}



/* ...SIDEBAR... */

.side {
	background: transparent;
	position: relative;
}

.morelink {
	/* destyle */
		border: none;
}

	.morelink .nub {
		/* destyle */
			display: none;
	}

.morelink a {
	color: #FFDD00;
	border: 4px outset #884714;
	background: url(%%wood%%) 0px 100px;
	/* destyle */
		width: auto;
}

	.morelink a:hover {
		border: 4px inset #884714;
	}

.linkinfo {
	text-shadow: 1px 1px  #000, -1px -1px #000;
	color: #FFDD00;
	box-shadow: 3px 3px 3px #888888;
	padding: 0.5em;
	border: 3px ridge #FFDD00;
	border-radius: 12px;
	background: #880000;
	font-weight: bold;
	text-align: center;
}

.linkinfo input {
	border: 3px inset #FFDD00;
}

.sidecontentbox {
	position: relative; /* to position the helplink */
	margin-top: 5px;
	border: 15px solid transparent;
	border-image: url(%%scrollv%%) 30 stretch;
}

	.sidecontentbox .title, .sidecontentbox .content {
		background: url(%%parchment%%);
		border-color: #B39652;
		border-width: 0px 1px 0px 1px;
		margin: 0px -10px 0px -10px;
	}

		.sidecontentbox .title {
			text-align: center;
			/* destyle */
				border-style: solid;
		}

			.sidecontentbox .title h1 {
				color: #443D2E;
			}

	.sidecontentbox .helplink {
		position: absolute; /* replaces use of 'float: right' */
		bottom: 5px;
		display: block;
	}



/* ...VOTING... */

.midcol {
	min-width: 23px; /* to make room for the new arrow sizes */
}

.arrow {
	background-image: url(%%vote%%);
	width: 23px;
	height: 23px;
}

	.arrow.down {
		background-position: -23px 0px;
	}

	.arrow.downmod {
		background-position: -23px -23px;
	}

	.arrow.up {
		background-position: 0px 0px;
	}

	.arrow.upmod {
		background-position: 0px -23px;
	}

.arrow.up:hover:before {
	content: "So say we all. Huzzah!";
	position: absolute;
	z-index: 99;
	text-shadow: 1px 1px #000, 1px 1px #000;
	color: #FFDD00;
	font-size: 0.9em;
	box-shadow: 5px 5px 5px #888888;
	margin: -2em 0 0 2em;
	padding: 0.5em;
	border: 3px ridge #FFDD00;
	border-radius: 12px;
	background: #008800;
	font-weight: bold;
	text-align: center;
}

.arrow.down:hover:before {
	content: "To Davy Jones Locker with ye!";
	position: absolute;
	z-index: 99;
	text-shadow: 1px 1px #000, 1px 1px #000;
	color: #FFDD00;
	font-size: 0.9em;
	box-shadow: 5px 5px 5px #888888;
	margin: 2em 0 0 2em;
	padding: 0.5em;
	border: 3px ridge #FFDD00;
	border-radius: 12px;
	background: #880000;
	font-weight: bold;
	text-align: center;
}

.score.unvoted {
	color: #C4A000;
}

.rank {
	color: #7F7156 ;
	font-size: 3em;
}



/* ...FLAIR... */

.flair {
	position: relative;
	text-shadow: 1px 1px #000, 1px 1px 0.1px #000;
	color: #FFDD00;
	background: #600000;
	border-radius: 4px;
	border: 1px #500000;
	padding: 1px 3px 1px 3px;
}



/* ...LISTING... */

.thumbnail.self {
	background: url(%%thumbnail%%);
	opacity: 0.5;
}

.expando-button {
	background: url(%%expando%%);
	opacity: 0.5;
}

	.expando-button.collapsed {
		background-position: 0px -23px;
	}

	.expando-button.expanded {
		background-position: 0px 0px;
	}



/* ...COMMENTS... */

.comment {
	border: 1px solid #7F7156;
	margin: .2em 0 .5em;
	padding: .3em .4em;
}

.comment .child, .comment .showreplies {
	/* destyle */
		border: none;
}

/*  Looked everywhere for a better solution. This is even how they do it on the CSS Reddit. Luckily Reddit only nests a certain number of times before continuing on another page, so this will work. */

.content .commentarea .comment .comment, .content .commentarea .comment .comment .comment .comment, .content .commentarea .comment .comment .comment .comment .comment .comment, .content .commentarea .comment .comment .comment .comment .comment .comment .comment .comment, .content .commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
	background: #E5D9BC;
}

.content .commentarea .comment, .content .commentarea .comment .comment .comment, .content .commentarea .comment .comment .comment .comment .comment, .content .commentarea .comment .comment .comment .comment .comment .comment .comment, .content .commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment {
	background-color: #F9EDCC;
}



/* ...LINKS... */

.link .usertext-body {
	border: 15px solid transparent;
	border-image: url(%%scrollh%%) 30 stretch;
	margin-right: 10px;
}

	.link .usertext-body .md {
		background: url(%%parchment%%);
		border-width: 1px 0px 1px 0px;
		border-color: #B39652;
		margin: -10px 0px -10px 0px;
		max-width: 100%;
		/* destyle */
		border-radius: 0px;
	}

.deepthread a, .nextprev a, .next-suggestions a {
	color: #7F7156;
	font-size: 3em;
	/* destyle */
		background: none;
		border: none;
}

/* ...FOOTER... */

.footer-parent {
	background: url(%%footer%%) 50% 0% no-repeat;
}
