/****************
'Bloody Seabird'
A Reddit theme
by Anon Adderlan
version 1.0 baby!
*****************/

/* Any settings under 'destyle' are only there to counter the default Reddit styling, and may not be necessary on implementation. The most important fix in this release is that font sizes/styles do not affect the tab layout. Next steps include styling form inputs and perhaps using a darker shade of red for the tabs. */



/***** FONTS *****/

/* These settings have been commented out for the following reasons:

	1) Reddit can't use @import, and I haven't yet figured out how to add a font-family. Perhaps there's a setting on Reddit itself?

	2) 'Jim Nightshade' is smaller than the default fonts and so requires font-size to be increased wherever it is used, which makes those fonts too large on browsers where 'Jim Nightshade' is unavailable.
*/

/*@import url(https://fonts.googleapis.com/css?family=Jim+Nightshade);

.title, .rank, .pagename a, .deepthread a, .nextprev a, .next-suggestions a {
	font-family: 'Jim Nightshade', cursive;
}

.title {
	font-size: 1.7em;
}*/



/***** SCROLLBAR *****/

::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border: 1px solid #000000;
	border-radius: 10px;
	background: rgba(242,216,153,0.8);
	box-shadow: inset 0 0 12px rgba(0,0,0,0.3);
}



/***** BODY *****/

body {
	color: #000000;
	background-color: #F9EDCC;
}

.content {
	margin-right: 310px;
}

.clearleft {
	height: 4px;
}



/***** HEADER *****/

#header {
	height: 180px;
	background: url(%%banner%%) right -20px no-repeat black;
}

#header-img {
	position: absolute;
	top: -9.6em;
	left: 1.4em;
	/* content: url(%%snoowhite%%); /* the Reddit logo must be changed at 'http://reddit.com/r/[%subreddit%]/about/edit' */
	width: 8em;
	height: 8em;
	/* destyle */
	background-image: none;
}

#header-bottom-left {
	position: absolute;
	bottom: 0px;
	width: 100%;
	background: url(%%pagends%%);
}



/***** TABS *****/

.pagename, .tabmenu li a {
	color: #FFFFFF;
	border: ridge #BB0000;
	border-width: 0px 4px;
}

.pagename {
	font-size: 2.2em;
	background: #000000;
	padding: 4.8em 0.2em 0em 0em;
}

	.pagename a {
		color: #FFFFFF;
		text-decoration: none;
		margin: 0.4em 0.2em 0em 0.4em;
	}

#header-bottom-left  .tabmenu {
	position: relative;
	bottom: 2.8em;
}

	.tabmenu li.selected {
		position: relative;
		top: 0.8em;
		font-size: 1.8em;
	}
    
    .tabmenu li.selected a {
		text-shadow: 1px 1px #000, 1px 1px 0.1px #000;
		background: #FF0000;
		padding: 3px;
        border: ridge #BB0000;
	    border-width: 0px 4px;
        color: #FFFFFF;
		text-decoration: none;
		margin: 0.4em 0.2em 0em 0.4em;
	}
	
	.tabmenu li a {
		text-shadow: 1px 1px #000, 1px 1px 0.1px #000;
		background: #FF0000;
		padding: 3px;
	}



/***** SUBMIT *****/

.submit .tabmenu li.selected {
	padding: 0.4em;
}

.submit .roundfield {
	/*destyle*/
	background: none;
}

.submit .info-notice{
	/*destyle*/
	border: none;
	}

form .spacer+.spacer{
	/*destyle*/
	margin: 0px;
}

.formtabs-content {
	border: 0px solid transparent;
	border-top: 28px;
    /* border-image: url(http://localhost/reddit/sea/border.png) 30; commented out because this file isnt available in the repo */
	background: url(%%parchment%%);
	padding: 1em;
}



/***** SIDEBAR *****/

.side {
	position: relative;
	background: transparent;
}

.morelink {
	border: 4px outset #884714;
}

	.morelink:hover {
		border: 4px inset #884714;
	}

	.morelink a {
		color: #FFDD00;
		background: url(%%wood%%) 0px 100px;
		/* destyle */
		width: auto;
	}

	.morelink .nub {
		/* destyle */
		display: none;
	}

.linkinfo {
	text-shadow: 1px 1px  #000, -1px -1px #000;
	color: #FFDD00;
	box-shadow: 3px 3px 3px #888888;
	padding: 0.5em;
	border: 3px ridge #FFDD00;
	border-radius: 12px;
	background: #880000;
	font-weight: bold;
	text-align: center;
}

.linkinfo input {
	border: 3px inset #FFDD00;
}

.sidecontentbox {
	position: relative; /* required only to position the .helplink */
	margin-top: 5px;
	border: 15px solid transparent;
	border-image: url(%%scrollv%%) 30 stretch;
}

	.sidecontentbox .title, .sidecontentbox .content {
		background: url(%%parchment%%);
		border-color: #B39652;
		border-width: 0px 1px 0px 1px;
		margin: 0px -10px 0px -10px;
	}

		.sidecontentbox .title {
			text-align: center;
			/* destyle */
			border-style: solid;
		}

			.sidecontentbox .title h1 {
				color: #443D2E;
			}

	.sidecontentbox .helplink {
		display: block;
		position: absolute; /* replaces previous use of 'float: right' */
		bottom: 5px;
	}

.icon-menu a {
    background: none no-repeat scroll center left;
}

/***** VOTING *****/

.midcol {
	min-width: 23px; /* To make room for the new arrow sizes */
}

.arrow {
    background-image: url(%%vote%%) !important;
    width: 23px !important;
    height: 23px !important;
}

.arrow.down {
    background-position: -23px 0px;
}

.arrow.downmod {
    background-position: -23px -23px;
}

.arrow.up {
    background-position: 0px 0px;
}

.arrow.upmod {
    background-position: 0px -23px;
}

.arrow.up:hover:before {
	content: "So say we all. Huzzah!";
	position: absolute;
	z-index: 99;
	text-shadow: 1px 1px #000, 1px 1px #000;
	color: #FFDD00;
	font-size: 0.9em;
	box-shadow: 5px 5px 5px #888888;
	margin: -2em 0 0 2em;
	padding: 0.5em;
	border: 3px ridge #FFDD00;
	border-radius: 12px;
	background: #008800;
	font-weight: bold;
	text-align: center;
}

.arrow.down:hover:before {
	content: "To Davy Jones Locker with ye!";
	position: absolute;
	z-index: 99;
	text-shadow: 1px 1px #000, 1px 1px #000;
	color: #FFDD00;
	font-size: 0.9em;
	box-shadow: 5px 5px 5px #888888;
	margin: 2em 0 0 2em;
	padding: 0.5em;
	border: 3px ridge #FFDD00;
	border-radius: 12px;
	background: #880000;
	font-weight: bold;
	text-align: center;
}

.score.unvoted {
	color: #C4A000;
}

.rank {
	color: #7F7156 ;
    margin-top: 25px;
}



/***** FLAIR *****/

/* To be replaced by images at a later date */

.flair {
	position: relative;
	text-shadow: 1px 1px #000, 1px 1px 0.1px #000;
	color: #FFDD00;
	background: #600000;
	border-radius: 4px;
	border: 1px #500000;
	padding: 1px 3px 1px 3px;
}



/***** LISTING *****/

.thumbnail.self {
	background: url(%%thumbnail%%);
	opacity: 0.5;
}

.expando-button {
	background: url(%%expando%%);
	opacity: 0.5;
}

	.expando-button.collapsed {
		background-position: 0px -23px;
	}

	.expando-button.expanded {
		background-position: 0px 0px;
	}



/***** COMMENTS *****/

.comment {
	border: 1px solid #7F7156;
	margin: .2em 0 .5em;
	padding: .3em .4em;
}

.comment .child, .comment .showreplies {
	/* destyle */
	border: none;
}

/*  Looked everywhere for a better solution. This is even how they do it on the CSS Reddit. Luckily Reddit only nests a certain number of comments before continuing on another page, so this will work. */

.content .commentarea .comment .comment, .content .commentarea .comment .comment .comment .comment, .content .commentarea .comment .comment .comment .comment .comment .comment, .content .commentarea .comment .comment .comment .comment .comment .comment .comment .comment, .content .commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
	background: #E5D9BC;
}

.content .commentarea .comment, .content .commentarea .comment .comment .comment, .content .commentarea .comment .comment .comment .comment .comment, .content .commentarea .comment .comment .comment .comment .comment .comment .comment, .content .commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment {
	background-color: #F9EDCC;
}



/***** LINKS *****/

.link .usertext-body {
	border: 15px solid transparent;
	border-image: url(%%scrollh%%) 30 stretch;
	margin-right: 10px;
}

	.link .usertext-body .md {
		background: url(%%parchment%%);
		border-width: 1px 0px 1px 0px;
		border-color: #B39652;
		margin: -10px 0px -10px 0px;
		max-width: 100%;
		/* destyle */
		border-radius: 0px;
	}

.deepthread a, .nextprev a, .next-suggestions a {
	color: #7F7156;
	font-size: 2em;
	/* destyle */
	background: none;
	border: none;
}

/***** FOOTER *****/

.footer-parent {
	background: url(%%footer%%) 50% 0% no-repeat;
	padding-top: 150px; /* despite being the default on 'links' and 'comments' still needs to be explicitly set because the value is 40px on any 'Page Not Found' */
}

/***** INFOBAR *****/

.archived-infobar.with-icon:before {
    background: url(%%archive%%);
    margin-left: 3px;
}

/***** SEARCH *****/

#search input[type=text] {
    height: 45px; /* to match the .infobar */
}
